<style type='text/css'>

@font-face {
	font-family: 'averta';
	
	src: 
		local('averta'),
		local('averta'),
		url('https://github.com/chanukaism/Five9Chat/blob/01aefb630f14075c8d8b70c7152c2131020c3954/docs/Intelligent%20Design%20-%20Averta%20Black.otf') 
		format('opentype');
}


.ui-header {
	border-width: 0 !important;
    background-color: #5fcfad !important;
	color: #fff !important;
	font-family:"averta",Helvetica,Arial,sans-serif;
}

h1.ui-title {
    background: none;
    color: #fff !important;
}

.five9-action-btn {
    font-family:"averta",Helvetica,Arial,sans-serif !important; 
    border: 1px solid #003359 !important;
    background-color: #5fcfad !important;
	color: #fff !important;
}

.five9-action-btn:hover:not(disabled) {
    background-color: #28b86b !important;
}

</style>
