<style type='text/css'>

five9-minimize-button.five9-chat-button {
    background: linear-gradient(#5fcfad, #28b86b) !important;
    color:black !important;
	font-size: 24px !important;
}

.five9-chat-button:after { 
	content: 'Chat Now' !important;
	background: linear-gradient(#5fcfad, #28b86b) !important;
    	color:black !important;
	font-size: 24px !important;

}

.ui-header {
	border-width: 0 !important;
    background-color: #5fcfad !important;
	color: #fff !important;
}

h1.ui-title {
    background: none;
    color: #fff !important;
}

.five9-action-btn {
    border: 1px solid #003359 !important;
    background-color: #5fcfad !important;
	color: #fff !important;
}

.five9-action-btn:hover:not(disabled) {
    background-color: #28b86b !important;
}

</style>
