.five9-chat-button {
    background: linear-gradient(#5fcfad, #28b86b) !important;
    color:black;	
}


.ui-header {
	border-width: 0 !important;
    background-color: #5fcfad !important;
	color: #fff !important;
}

h1.ui-title {
    background: none;
    color: #fff !important;
}

.five9-action-btn {
    border: 1px solid #003359 !important;
    background-color: #5fcfad !important;
	color: #fff !important;
}

.five9-action-btn:hover:not(disabled) {
    background-color: #28b86b !important;
}

