<style type='text/css'>

@font-face {
	font-family: 'averta';
	
	src: 
		local('averta'),
		local('averta'),
		url('https://github.com/chanukaism/Five9Chat/blob/01aefb630f14075c8d8b70c7152c2131020c3954/docs/Intelligent%20Design%20-%20Averta%20Black.otf') 
		format('opentype');
}

.five9-chat-button {
    font-family: "averta" !important;
    display: inline-block;
    position: relative;
    height: 38px;
    border: none;
    border-radius: 0px 0px 0 0;
    margin: 0;
    padding: 10px 12px 0 39px;
    background: linear-gradient(#5fcfad, #5fcfad);
    color: white;
    font-size: 18px;
    font-weight: normal;
    line-height: 1;
    cursor: pointer;
}

.ui-input-search {
    border-radius: 0px !important;
}

.ui-corner-all {
    border-radius: 0px !important;
}

.ui-header {
	border-width: 0 !important;
    background-color: #5fcfad !important;
	color: #fff !important;
	font-family:"averta" !important;
}

h1.ui-title {
    background: none;
    color: #fff !important;
}

.five9-action-btn {
    font-family:"averta" !important; 
    border: 1px solid #003359 !important;
    background-color: #5fcfad !important;
	color: #fff !important;
}

.five9-action-btn:hover:not(disabled) {
    background-color: #28b86b !important;
}

</style>
